<a href="#" class="toggle">
  <i class="material-icons">menu</i>
</a>
<div id="logo"><a href="/">PCARE</a></div>
<nav class="nav">
  <a href="index.html">News</a>
  <a href="collections.html">Collections</a>
  <a href="about.html">About Us</a>
  <a href="faq.html">FAQ</a>
  <a href="contact.html">Contact</a>
</nav>

<nav class="profile">
  <div class="welcome">Hello, <a>Harry Kane</a></div>
  <div class="picture">
    <a><img src="assets/images/harry-kane.png"></a>
  </div>
</nav>

<div class="clear"></div>
