<aside id="side-bar">

<article class="card" data-post-id="886">
  <p class="title">KICKSTART MY COLLECTION</p>
  <p>GIMME the money!!</p>

  <div class="comment-logs">
    <!-- When clicked, open popup with the Cheque's info -->
    <article class="comment-log" data-fancybox="" data-type="ajax" data-src="_single-cheque.html">
      <footer> Apr 7, 2018 </footer>
      <div class="log-body log-karma">
        <p>123321</p>
      </div>
    </article>
    <article class="comment-log" data-fancybox="" data-type="ajax" data-src="_single-cheque.html">
      <footer> Apr 8, 2018 </footer>
      <div class="log-body log-karma1"> <!-- karma1 is accepted -->
        <p>9922 1111</p>
      </div>
    </article>
    <article class="comment-log" data-fancybox="" data-type="ajax" data-src="_single-cheque.html">
      <footer> Apr 9, 2018 </footer>
      <div class="log-body log-karma-1"> <!-- karma-1 is rejected -->
        <p>8877 0000</p>
      </div>
    </article>
  </div>

  <div>
    <button class="toggle-below">Re-submit Cheque</button>

    <!-- Hidden Contact Form 7, opened when "Resubmit cheque" is clicked -->
    <div style="display:none;">
    <div role="form" class="wpcf7" id="wpcf7-f379-o1" lang="en-US" dir="ltr">
      <div class="screen-reader-response"></div>

      <form action="/pcare/#wpcf7-f379-o1" method="post" class="wpcf7-form demo" enctype="multipart/form-data" novalidate="novalidate">
        <div style="display: none;">
          <input type="hidden" name="_wpcf7" value="379">
          <input type="hidden" name="_wpcf7_version" value="5.0.1">
          <input type="hidden" name="_wpcf7_locale" value="en_US">
          <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f379-o1">
          <input type="hidden" name="_wpcf7_container_post" value="0">
        </div>

        <section class="pcf-fields-wrap">

          <div class="pcf-fieldset">
            <p><label>Your Name *</label><br>
            <span class="wpcf7-form-control-wrap comment_author"><input type="text" name="comment_author" value="PCare" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required wpcf7-not-valid" aria-required="true" aria-invalid="true"><span role="alert" class="wpcf7-not-valid-tip">The field is required.</span></span></p>
            <p><label>Your Email *</label><br>
            <span class="wpcf7-form-control-wrap comment_author_email"><input type="email" name="comment_author_email" value="admin.test@pcare.org" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span></p>
          </div>

          <div class="pcf-fieldset">
            <p><label>Cheque Number *</label><br>
            <span class="wpcf7-form-control-wrap comment_content"><input type="text" name="comment_content" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Enter cheque number in six digits"></span></p>
            <p><label>Amount *</label><br>
            <span class="wpcf7-form-control-wrap comment_author_url"><input type="number" name="comment_author_url" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number" aria-required="true" aria-invalid="false" placeholder="Contribution Amount"></span></p>
            <p><label>Bank Name</label><br>
            <span class="wpcf7-form-control-wrap meta_cheque_bank"><input type="text" name="meta_cheque_bank" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="e.g. POSB, OUB, DBS, etc"></span></p>
            <p><label>Date of Cheque</label><br>
            <span class="wpcf7-form-control-wrap meta_cheque_date"><input type="date" name="meta_cheque_date" value="" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date input-date" aria-invalid="false" placeholder="DD/MM/YYYY"></span></p>
            <p><label>Submitted Date</label><br>
            <span class="wpcf7-form-control-wrap meta_submitted_date"><input type="date" name="meta_submitted_date" value="" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date input-date" aria-invalid="false" placeholder="DD/MM/YYYY"></span></p>
            <p><label>Cheque / PAYNOW Photo</label><br>
            <span class="wpcf7-form-control-wrap meta_cheque_photo"><input type="file" name="meta_cheque_photo" size="40" class="wpcf7-form-control wpcf7-file" accept=".jpg,.jpeg,.png" aria-invalid="false"></span></p>
          </div>

          <div class="pcf-fieldset pcf-fieldset-dark pcf-fieldset-full pcf-fieldset-hidden-frontend">
            <p><label>Notes (Admin only)</label><br>
            <span class="wpcf7-form-control-wrap meta_note"><textarea name="meta_note" cols="40" rows="5" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span></p>
          </div>
        </section> <!-- /.pcf-fields-wrap -->

        <section class="pcf-submit-wrap">
          <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit button pcf-button"><span class="ajax-loader"></span><br>
        </section>

        <div class="wpcf7-response-output wpcf7-display-none wpcf7-validation-errors" style="display: block;" role="alert">One or more fields have an error. Please fix and submit again.</div>
      </form>
    </div> <!-- /div[role="form"] -->
    </div> <!-- div display=none -->
  </div> <!-- plain div before button toggle -->

  <div class="clear"></div>
</article> <!-- /.card -->

<hr class="divider">


<h3>Past Collections</h3>
<p>There's no past collection</p>

</aside>
