<div class="single-comment">
<div class="single-comment-wrap">

<table>
<tbody><tr>
  <td colspan="2">
    <strong>smell my smoke</strong> <br>
    <small>(admin.test@pcare.org)</small>
  </td>
  <td>
    <div class="flex">
      <strong>Date</strong>: <span class="cheque-underline">Apr 7, 2018</span>
    </div>
  </td>
</tr>

<tr>
  <td>
    <span class="cheque-box">-</span>
  </td>
  <td colspan="2">
    <span class="cheque-underline">Zero</span>
  </td>
</tr>

<tr>
  <td colspan="2">
    <strong>No</strong>: <code>123321</code>
  </td>
  <td>
    <span class="cheque-big">SCC</span>
  </td>
</tr>
</tbody></table>

</div>
</div>
