// Customize the framework by changing these variables
// Put your custom variables and mixins here too

$version: 0;

// -------
// FONT
// -------
$font-family: 'Montserrat', sans-serif;
$font-family-header : "Montserrat", sans-serif;

// --------
// COLORS
// --------

$color-main : #567ebb;
$color-sub  : #2b4c7e;

$color-main-soft : #eef2f8;

$color-passive : #4d4d4d;
// $color-link : $color-main;

$color-bg: #f7f7f7;

$color-red : #f44336;
$color-yellow : #ffc107;
$color-green : #4caf50;
$color-blue: $color-main;

$color-alert: $color-red;


// $body-background  : #fff;

// ---------
// SIZING
// ---------
// $size-mini   : 480px;
// $size-small  : 767px;
// $size-medium : 1120px;
  // $size-large  : 1440px;

// ----------------
// RESPONSIVE
// ----------------
$responsive : true;
$adaptive   : true;
// $adaptive-breakpoints : $size-medium, 960px, $size-small, $size-mini;

// ---------------
// GLOBAL VALUE
// ---------------
// $g-radius     : 2px;
$g-transition : all .3s ease-in-out;

$spinner-path: '../../../../../wp-admin/images/spinner.gif';

@function z($name) {
  @return map-get($z-indexes, $name);
}

$z-indexes: (
  loading_overlay: 10,
  fancybox: 1000
);

$shadow-z0: 0 0.5px 2px rgba(black, .18), 0 1.5px 6px rgba(black, .08);
$shadow-z1: 0 1.5px 4px rgba(black, .24), 0 1.5px 6px rgba(black, .12);
$shadow-z2: 0 3px 12px rgba(black, .23), 0 3px 12px rgba(black, .16);
$shadow-z3: 0 6px 12px rgba(black, .23), 0 10px 40px rgba(black, .19);


// --------
// GRID
// --------
// $grid-max-width : $size-medium;
// $grid-columns : 12;
// $grid-gutter  : 20px; // distance between columns
// $grid-rim     : $grid-gutter / 2; // distance from edge of screen

// ------------
// TILE
// ------------
// $tile-max    : 8;
// $tile-gutter : 20px;

// ------------
// TYPOGRAPHY
// ------------
// $font-color  : #222;
// $font-weight : 400;
// $font-line : 1.65;

$font-color-passive: #aaa;
$font-size : 16px;
// $font-size-small : 16px;

// ---------
// HEADER
// ---------
// $header-color  : $font-color;
// $header-weight : 700;
// $header-line   : 1;

$h1 : 26px;
$h2 : 22px;
$h3 : 18px;
// $h4 : 24px;
// $h5 : 20px;
// $h6 : $font-size;

// $h1-small : 30px;
// $h2-small : 26px;
// $h3-small : 22px;
// $h4-small : 20px;
// $h5-small : 18px;
// $h6-small : $font-size-small;

// ---------
// PRINT
// ---------
// $include-print  : false;
// $override-color : true;   // Override all text color to #000 black

// ------------------
// TEXT DIRECTION
// ------------------
// $text-direction   : ltr;  // Global text direction, 'rtl' or 'ltr'

// --------------
// CUSTOM MIXIN
// --------------

@mixin your-custom-mixin() { }

@mixin border-top-accent() {
  position: relative;
  padding-top: 1em;
  margin-top: 1em;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    border-top: 2px solid $color-main;
  }
}
