// Put styles that are unique for this project here
@import "setting";
@import "edje";

html {
  height: 100%;
}

body {
  background-color: $color-bg;
  height: 100%;
  overflow-y: hidden;
}


body.admin-bar {
  padding-top: 32px;
}


h-row {
  // max-width: 100% !important;
}

h-column {
  height: 100%;
}

.clear {
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;

  margin-bottom: 0;
}

h1 {
  color: #4d4d4d;
  text-transform: uppercase;

  margin-bottom: 20px;
}

h2 {
  color: $color-main;

  margin-bottom: 10px;
}

h3 {
  color: $color-main;
  text-transform: uppercase;
  margin-bottom: 1em;
}

p {
  letter-spacing: .25px;
  margin-bottom: 0;
}

ul, ol {
  margin-left: 5px;
}

.material-icons {
  font-size: 16px;
  vertical-align: middle;
}

///// CARD /////

.card {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  margin-bottom: 2em;

  a {
    &:hover { text-decoration: underline; }
  }
}

.view-all {
  float: none;
}

/* NAV */
.top-nav {
  background-color: $color-main;
  height: 60px;
  width: 100%;

  padding: 20px 40px;

  position: relative;
  top: 0;
  z-index: 99;

  @include below(small) {
    padding: 20px;
  }

  a.toggle {

    @include below(small) {
      color: #fff;
      float: left;
      margin-right: 15px;
      margin-top: -5px;
    }
  }
}

#logo {
  display: inline-block;
  float: left;
  margin-right: 100px;
  margin-top: -5px;

  font-size: 24px;
  font-weight: bold;
  letter-spacing: .25px;
  text-transform: uppercase;
  line-height: normal;

  a {
    color: #fff;
  }
}

.nav {
  float: left;
  font-size: 14px;

  a {
    display: inline-block;
    margin-right: 30px;

    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }

  a:hover {
    color: darken(#fff, 10%);
    border-bottom: 1px solid #fff;
    transition: $g-transition;
  }

  a.active {
    border-bottom: 2px solid #fff;
  }

  @include below(small) {
    display: none;
  }

  &--mobile {
    display: none;
    padding: 20px;
    background-color: #fff;
    // border-bottom: 1px solid lighten($color-main, 30%);

    a {
      display: block;
      font-weight: bold;
      text-align: center;
    }
  }
}

.profile {
  position: relative;
  top: -5px;
  float: right;
  border-bottom: 1px solid transparent;

  .welcome {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;

    margin-right: 15px;

    a {
      color: #fff;
    }

    a:hover {
      color: darken(#fff, 10%);
      transition: $g-transition;
    }

    @include below(small) {
      display: none;
    }
  }

  .picture {
    display: inline-block;
    float: right;
    border-radius: 50%;
    height: 40px;
    width: 40px;

    border: 1px solid #eee;
    background-color: #fff;
    padding: 3px;
    margin-top: -5px;
  }
}


///// CONTAINER /////

.wrapper {
  height: calc(100% - 60px);
  @include clearfix;
}


///// CF7 FORM

div.wpcf7 {
  @include border-top-accent;
}

.wpcf7-form-control-wrap {
  display: block;
}

label + br + .wpcf7-form-control-wrap {
  margin-top: -1em;

  input, textarea, select {
    padding-top: 20px;
  }
}

.wpcf7-not-valid {
  border-color: $color-red;
}

span.wpcf7-not-valid-tip {
  display: block;
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 12px;
}

div.wpcf7-response-output {
  padding: 6px 10px;
  margin: 1em 0;
  border-color: $color-green;
  border-width: 1px;
  background-color: rgba($color-green, .1);
  font-size: 14px;
  border-radius: $g-radius;
}

div.wpcf7-validation-errors {
  border-color: $color-red;
  background-color: rgba($color-red, .1);
}

// loader
.wpcf7-submit-wrap {
  position: relative;
  margin-top: 1em;
  text-align: right;

  a.button {
    display: none;
  }
}

div.wpcf7 .ajax-loader {
  position: absolute;
  top: 9px;
  right: 24px;
  width: 60px;
  height: 16px;
  background-image: image-url("spinner.gif");
  background-color: $color-main;
}

// fieldset cf7

.pcf-fieldset-hidden,
.pcf-fieldset-hidden-frontend,
.pcf-fieldset-profile {
  display: none;
}

.pcf-submit-wrap {
  margin-top: 1em;

  br,
  .pcf-form-title,
  #pcf-form-approve,
  #pcf-form-reject,
  #pcf-form-delete,
  #pcf-form-close {
    display: none;
  }
}


///// TOGGLE

.toggle-below {
  float: right;
}

///// SIDEBAR /////
body:not(.home) .side-bar {
  @include below(small) {
    display: none;
  }
}

.side-bar {
  background-color: #ececec;
  width: 450px;
  min-height: 100%;
  height: 100%;

  padding: 20px;
  position: relative;
  overflow: auto;
  z-index: 1;

  float: right;
  text-align: center;

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @include below(small) {
    width: 100%;
  }
}

.side-bar .card {
  text-align: left;
  margin-bottom: 10px;
  padding: 0.5em 1em 1em;
  @include clearfix;

  p {
    margin-bottom: 10px;

    strong {
      color: #c73e3e;
    }

    &.name {
      margin-bottom: 0;
    }

    &.name strong {
      color: #567ebb;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  time {
    color: #ccc;
    font-size: 12px;
    margin-bottom: 0;
  }

  .title {
    padding-top: 0.5em;
    font-size: 16px;
    font-weight: 700;
    color: $color-main;
    letter-spacing: .25px;

    text-align: center;

    margin-bottom: 20px;
  }

  .details {
    float: left;
  }

  .status {
    float: right;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

    &.rejected {
      color: #c73e3e;
    }

    &.pending {
      color: #f9af14;
    }

    &.approved {
      color: #4aad58;
    }
  }
}

.submit-success {
  display: block;
  border: 1px solid green;
  background-color: lighten(#bced91, 10%);

  padding: 10px;

  text-align: center;


  p {
    color: green;
  }
}

.side-bar {

  .field-valid {
    label { color: $color-green; }
  }

  .field-invalid {
    label { color: $color-red; }
  }

  label {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 4px;
    background-color: white;
    color: #bbb;
    font-weight: 400;
    letter-spacing: 0;
  }
}


///// COMMENT LOG

.comment-logs {
  @include border-top-accent;
}

.comment-log {
  display: -webkit-flex;
  display: flex;
  align-items: center;

  position: relative;
  cursor: pointer;
  margin-bottom: 1em;

  footer {
    margin-right: 1em;
    font-size: 14px;
    color: $color-main;
  }
}

.log-body {
  flex: 1;
  padding: 4px 8px;
  border: 1px solid $font-color-passive;

  border-radius: $g-radius;
  transition: $g-transition;

  .comment-log:hover & {
    border-color: $font-color;
  }

  p {
    margin: 0;
    font-family: Consolas, monospace;
  }

  .log-note {
    color: $font-color-passive;
  }

  &.log-karma1 { border-color: $color-green; background-color: rgba($color-green, .1); }
  &.log-karma-1 { border-color: $color-red; background-color: rgba($color-red, .1); }
}


///// GENERAL ELEMENT /////

form.is-loading {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: z(loading_overlay);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background: rgba(white, .5) image-url($spinner-path) center center no-repeat;
  }
}

body.home .content {
  @include below(small) {
    display: none;
  }
}

.content {
  padding: 30px;
  width: calc(100% - 450px);
  height: 100%;
  position: relative;
  float: left;
  overflow: auto;

  @include below(small) {
    padding: 10px;
  }

  p {
    margin-bottom: 20px;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  .coll-col, .remark-col {
    width: 250px;
  }

  th {
    background-color: #eee;
    text-align: left;
    border-right: 1px solid;
    border-color: #ddd;

    padding: 10px;
  }

  td {
    padding: 10px;
    vertical-align: top;
  }

  @include below(small) {
    width: 100%;
  }
}

p.post-meta {
  font-size: 12px;
  color: #999;
  margin-top: -0.5em;
  margin-bottom: 1em;

  span {
    text-transform: uppercase;
  }
}


.collection {
  padding: 0px;

  .success {
    color: $color-green;
  }

  .failed {
    color: $color-red;
  }

  .pending {
    color: $color-yellow;
  }

  .collection-table {
    .action-col {
      min-width: 300px;
    }
  }
}

.announcement {
  border-left: 5px solid $color-main;
}

tr {
  border-bottom: 1px solid #eee;

  &:nth-child(even) {
    background-color: #f9f9f9;
  }
}

.quick-form {
  display: flex;
  @include clearfix;

  input { margin-bottom: 0; }

  button {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* ACCOUNT */

.account-menu {
  @include below(small) {
    margin-bottom: 20px;
  }
  
  a {
    display: block;

    line-height: 24px;

    padding: 8px;
  }

  a:hover {
    background-color: $color-main;
    color: #fff;
    transition: $g-transition;
  }

  .active {
    background-color: $color-main;
    color: #fff;
  }
}


///// FAQ /////


.tabs {
  padding: 0;
  @include clearfix;
  @include below(small) {
    display: none;
  }

  input[type=radio] {
    display:none;
  }

  label {
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 1em 1.5em;
    border-bottom: 2px solid $color-bg;

    color: rgba($color-main, .5);
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: lighten($color-main, 10%);
      transition: $g-transition;
    }

    &.active {
      color: $color-main;
      background-color: rgba($color-main, .2);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__header {
    &--mobile {
      display: none;
      cursor: pointer;
      margin: 0;
      padding: 1em 1.5em;
      border-top: 1px solid $color-bg;
      border-bottom: 1px solid $color-bg;

      color: rgba($color-main, .5);
      background: #fff;
      font-size: 14px;
      line-height: 1.5;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: lighten($color-main, 10%);
        transition: $g-transition;
      }

      &.active {
        color: $color-main;
        background-color: rgba($color-main, .2);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
      
      @include below(small) {
        display: block;
      }
    }
  }
}


.tab-content {
  display: none;
  width: 100%;

  &.tab-active { display: block; }
}

///// 404 Page /////

.content-error {
  padding: 100px 0;
  text-align: center;

  @include below(small) { padding: 30px 0; }

  h1 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    line-height: 1;
    color: $color-main;
  }

  span {
    display: block;
    color: $font-color;
    font-size: em($h2, $h1);
  }
}


///// H Custom



// navigation
.picture img {
  border-radius: 50%;
}

///// SINGLE POST /////

.card-post {
  margin-bottom: 0;

  p.wp-caption-text {
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    font-style: italic;
  }

  header {
    margin-bottom: 2em;

    h1 { margin-bottom: 0; }
  }

  p.post-meta {
    border-bottom: 1px solid rgba(black, .1);
    margin-top: 0.5em;
    padding-bottom: 1.5em;
    font-size: 14px;
    color: $color-main;
  }

  .featured-image {
    max-height: 400px;
    margin-bottom: 2em;
  }

  p, ul, ol {
    margin-bottom: 1.5em;
  }

  ul ul, ol ol,
  ul ol, ol ul {
    margin-bottom: 0;
  }

  blockquote {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.75em 1em;
    border-left: 4px solid $color-main;
    background-color: rgba($color-main, .1);
  }

  hr {
    margin: 1.5em 0;
  }
}

///// BLOG TOAST /////

@mixin toast_color($color) {
  border-left-color: $color;

  strong { color: $color; }
}

.announcement {
  strong { color: $color-main; }

  &.toast-alert {
    @include toast_color($color-red);
  }

  &.toast-warning {
    @include toast_color($color-yellow);
  }

  &.toast-success {
    @include toast_color($color-green);
  }
}

///// COMMENT POPUP

.fancybox-slide--ajax {
  overflow: visible;
  z-index: z(fancybox);
  top: 50%;
  right: 0;
  width: 600px;
  height: auto;
  max-height: 90%;
  margin: 0 auto;

  box-shadow: $shadow-z1;
  border-radius: $g-radius;
  @include transform(translateY(-50%) );

  &::before {
    display: none;
  }

  .fancybox-close-small {
    &:hover {
      background-color: transparent;
    }
  }

  @include below(small) {
    width: 100%;
  }
}

.fancybox-close-small {
  @include transform(translateX(50%) translateY(-50%) );

  &::after {
    box-shadow: 0 0 0 2px $color-main;
  }
}

.fancybox-slide > div {
  overflow: visible;
  margin: 0;
  width: 100%;
}


.fancybox-slide .single-comment {
  padding: 0.25em;
  margin-bottom: 1em;
  background-color: $color-main-soft;
  border: 4px solid $color-main;
}

.single-comment-wrap {
  padding: 0.75em;
  border: 1px solid $color-main;
}

.single-comment {
  tr {
    background-color: transparent;
  }

  td {
    border: none;
    padding: 0.5em;
    width: 33.333%;
    vertical-align: top;
  }

  .flex {
    display: -webkit-flex;
    display: flex;
  }

  .cheque-underline,
  .cheque-box {
    display: block;
    flex: 1;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .cheque-underline {
    border-bottom: 1px solid rgba($font-color, .7);
  }

  .cheque-box {
    background-color: white;
    border: 1px solid rgba($font-color, .7);
  }

  .cheque-big {
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-main;
  }

  code {
    color: $color-red;
    padding: 0 0.5em;
  }
}

///// REPLY

.fancybox-slide .reply-log {
  overflow-y: auto;
  background-color: white;
  margin-top: 1em;
  padding: 1em;
  max-height: 400px;
  border-radius: $g-radius;

  h3 {
    margin-bottom: 0.5rem;
  }
}

.single-reply {
  border: 1px solid $font-color-passive;
  padding: 0.5em 1em;
  border-radius: $g-radius;

  b {
    display: block;
  }
}

.reply-title {
  margin-bottom: 0.5em;
}

.reply-meta {
  font-size: 12px;
  color: $font-color-passive;

  [class*="status"] {
    font-weight: 700;
  }

  .status1 { color: $color-green; font-weight: 700; }
  .status-1 { color: $color-red; font-weight: 700; }
}

.reply-content {
  font-size: em(14px);

  p {
    margin-bottom: 0.5em;
  }
}