// Put styles that you might reuse in other projects here
@import "setting";
@import "edje-framework";
@import "datepicker";
@import "fancybox";

.text-right {
  text-align: right;
}

// ----------
// BUTTON
// ----------
button,
.button,
[type="submit"] {
  display: inline-block;
  background-color: #567ebb;
  border-radius: 0px;
  padding: 10px 35px;
  margin-bottom: 0;
  margin-left: 10px;

  border: 0;

  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;

  &:hover {
    background-color: lighten(#567ebb, 5%);
    transition: $g-transition;
  }
}

// --------
// INPUT
// --------
[type="text"],
[type="number"],
[type="tel"],
[type="password"],
[type="email"],
[type="search"],
[type="url"],
textarea,
select {
  display: block;
  width: 100%;

  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;

  font-size: 14px;
  font-weight: normal;
  transition: $g-transition;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: none;
    border-color: #555;
  }

}

label {
  font-size: 14px;
  font-weight: bold;
  color: #4d4d4d;
  letter-spacing: 1px;
  text-transform: uppercase;

  margin-bottom: -10px;
  margin-left: 10px;
}
