html { height: 100%; }

body { background-color: #f7f7f7; height: 100%; overflow-y: hidden; }

body.admin-bar { padding-top: 32px; }

h-column { height: 100%; }

.clear { clear: both; }

h1, h2, h3, h4, h5, h6 { letter-spacing: 1px; margin-bottom: 0; }

h1 { color: #4d4d4d; text-transform: uppercase; margin-bottom: 20px; }

h2 { color: #567ebb; margin-bottom: 10px; }

h3 { color: #567ebb; text-transform: uppercase; margin-bottom: 1em; }

p { letter-spacing: .25px; margin-bottom: 0; }

ul, ol { margin-left: 5px; }

.material-icons { font-size: 16px; vertical-align: middle; }

.card { background-color: #fff; width: 100%; padding: 20px; margin-bottom: 2em; }

.card a:hover { text-decoration: underline; }

.view-all { float: none; }

/* NAV */
.top-nav { background-color: #567ebb; height: 60px; width: 100%; padding: 20px 40px; position: relative; top: 0; z-index: 99; }

@media only screen and (max-width: 767px) { .top-nav { padding: 20px; } }

@media only screen and (max-width: 767px) { .top-nav a.toggle { color: #fff; float: left; margin-right: 15px; margin-top: -5px; } }

#logo { display: inline-block; float: left; margin-right: 100px; margin-top: -5px; font-size: 24px; font-weight: bold; letter-spacing: .25px; text-transform: uppercase; line-height: normal; }

#logo a { color: #fff; }

.nav { float: left; font-size: 14px; }

.nav a { display: inline-block; margin-right: 30px; letter-spacing: 1px; font-weight: bold; text-transform: uppercase; color: #fff; }

.nav a:hover { color: #e6e6e6; border-bottom: 1px solid #fff; transition: all 0.3s ease-in-out; }

.nav a.active { border-bottom: 2px solid #fff; }

@media only screen and (max-width: 767px) { .nav { display: none; } }

.nav--mobile { display: none; padding: 20px; background-color: #fff; }

.nav--mobile a { display: block; font-weight: bold; text-align: center; }

.profile { position: relative; top: -5px; float: right; border-bottom: 1px solid transparent; }

.profile .welcome { display: inline-block; font-size: 14px; line-height: 30px; margin-right: 15px; }

.profile .welcome a { color: #fff; }

.profile .welcome a:hover { color: #e6e6e6; transition: all 0.3s ease-in-out; }

@media only screen and (max-width: 767px) { .profile .welcome { display: none; } }

.profile .picture { display: inline-block; float: right; border-radius: 50%; height: 40px; width: 40px; border: 1px solid #eee; background-color: #fff; padding: 3px; margin-top: -5px; }

.wrapper { height: calc(100% - 60px); }

.wrapper::before, .wrapper::after { content: " "; display: table; }

.wrapper::after { clear: both; }

div.wpcf7 { position: relative; padding-top: 1em; margin-top: 1em; }

div.wpcf7::before { content: ""; position: absolute; top: 0; left: 0; width: 50px; border-top: 2px solid #567ebb; }

.wpcf7-form-control-wrap { display: block; }

label + br + .wpcf7-form-control-wrap { margin-top: -1em; }

label + br + .wpcf7-form-control-wrap input, label + br + .wpcf7-form-control-wrap textarea, label + br + .wpcf7-form-control-wrap select { padding-top: 20px; }

.wpcf7-not-valid { border-color: #f44336; }

span.wpcf7-not-valid-tip { display: block; margin-top: -10px; margin-bottom: 20px; font-size: 12px; }

div.wpcf7-response-output { padding: 6px 10px; margin: 1em 0; border-color: #4caf50; border-width: 1px; background-color: rgba(76, 175, 80, 0.1); font-size: 14px; border-radius: 2px; }

div.wpcf7-validation-errors { border-color: #f44336; background-color: rgba(244, 67, 54, 0.1); }

.wpcf7-submit-wrap { position: relative; margin-top: 1em; text-align: right; }

.wpcf7-submit-wrap a.button { display: none; }

div.wpcf7 .ajax-loader { position: absolute; top: 9px; right: 24px; width: 60px; height: 16px; background-image: url("../images/spinner.gif"); background-color: #567ebb; }

.pcf-fieldset-hidden, .pcf-fieldset-hidden-frontend, .pcf-fieldset-profile { display: none; }

.pcf-submit-wrap { margin-top: 1em; }

.pcf-submit-wrap br, .pcf-submit-wrap .pcf-form-title, .pcf-submit-wrap #pcf-form-approve, .pcf-submit-wrap #pcf-form-reject, .pcf-submit-wrap #pcf-form-delete, .pcf-submit-wrap #pcf-form-close { display: none; }

.toggle-below { float: right; }

@media only screen and (max-width: 767px) { body:not(.home) .side-bar { display: none; } }

.side-bar { background-color: #ececec; width: 450px; min-height: 100%; height: 100%; padding: 20px; position: relative; overflow: auto; z-index: 1; float: right; text-align: center; }

.side-bar hr { margin-top: 20px; margin-bottom: 20px; }

@media only screen and (max-width: 767px) { .side-bar { width: 100%; } }

.side-bar .card { text-align: left; margin-bottom: 10px; padding: 0.5em 1em 1em; }

.side-bar .card::before, .side-bar .card::after { content: " "; display: table; }

.side-bar .card::after { clear: both; }

.side-bar .card p { margin-bottom: 10px; }

.side-bar .card p strong { color: #c73e3e; }

.side-bar .card p.name { margin-bottom: 0; }

.side-bar .card p.name strong { color: #567ebb; }

.side-bar .card p:last-child { margin-bottom: 0; }

.side-bar .card time { color: #ccc; font-size: 12px; margin-bottom: 0; }

.side-bar .card .title { padding-top: 0.5em; font-size: 16px; font-weight: 700; color: #567ebb; letter-spacing: .25px; text-align: center; margin-bottom: 20px; }

.side-bar .card .details { float: left; }

.side-bar .card .status { float: right; text-transform: uppercase; font-size: 12px; font-weight: bold; }

.side-bar .card .status.rejected { color: #c73e3e; }

.side-bar .card .status.pending { color: #f9af14; }

.side-bar .card .status.approved { color: #4aad58; }

.submit-success { display: block; border: 1px solid green; background-color: #d7f4bd; padding: 10px; text-align: center; }

.submit-success p { color: green; }

.side-bar .field-valid label { color: #4caf50; }

.side-bar .field-invalid label { color: #f44336; }

.side-bar label { display: inline-block; position: relative; z-index: 1; padding: 0 4px; background-color: white; color: #bbb; font-weight: 400; letter-spacing: 0; }

.comment-logs { position: relative; padding-top: 1em; margin-top: 1em; }

.comment-logs::before { content: ""; position: absolute; top: 0; left: 0; width: 50px; border-top: 2px solid #567ebb; }

.comment-log { display: -webkit-flex; display: flex; align-items: center; position: relative; cursor: pointer; margin-bottom: 1em; }

.comment-log footer { margin-right: 1em; font-size: 14px; color: #567ebb; }

.log-body { flex: 1; padding: 4px 8px; border: 1px solid #aaa; border-radius: 2px; transition: all 0.3s ease-in-out; }

.comment-log:hover .log-body { border-color: #222; }

.log-body p { margin: 0; font-family: Consolas, monospace; }

.log-body .log-note { color: #aaa; }

.log-body.log-karma1 { border-color: #4caf50; background-color: rgba(76, 175, 80, 0.1); }

.log-body.log-karma-1 { border-color: #f44336; background-color: rgba(244, 67, 54, 0.1); }

form.is-loading { position: relative; }

form.is-loading::before { content: ""; position: absolute; z-index: 10; top: 0; bottom: 0; right: 0; left: 0; background: rgba(255, 255, 255, 0.5) url("../images/../../../../../wp-admin/images/spinner.gif") center center no-repeat; }

@media only screen and (max-width: 767px) { body.home .content { display: none; } }

.content { padding: 30px; width: calc(100% - 450px); height: 100%; position: relative; float: left; overflow: auto; }

@media only screen and (max-width: 767px) { .content { padding: 10px; } }

.content p { margin-bottom: 20px; }

.content p:last-of-type { margin-bottom: 0; }

.content .coll-col, .content .remark-col { width: 250px; }

.content th { background-color: #eee; text-align: left; border-right: 1px solid; border-color: #ddd; padding: 10px; }

.content td { padding: 10px; vertical-align: top; }

@media only screen and (max-width: 767px) { .content { width: 100%; } }

p.post-meta { font-size: 12px; color: #999; margin-top: -0.5em; margin-bottom: 1em; }

p.post-meta span { text-transform: uppercase; }

.collection { padding: 0px; }

.collection .success { color: #4caf50; }

.collection .failed { color: #f44336; }

.collection .pending { color: #ffc107; }

.collection .collection-table .action-col { min-width: 300px; }

.announcement { border-left: 5px solid #567ebb; }

tr { border-bottom: 1px solid #eee; }

tr:nth-child(even) { background-color: #f9f9f9; }

.quick-form { display: flex; }

.quick-form::before, .quick-form::after { content: " "; display: table; }

.quick-form::after { clear: both; }

.quick-form input { margin-bottom: 0; }

.quick-form button { padding-right: 10px; padding-left: 10px; }

/* ACCOUNT */
@media only screen and (max-width: 767px) { .account-menu { margin-bottom: 20px; } }

.account-menu a { display: block; line-height: 24px; padding: 8px; }

.account-menu a:hover { background-color: #567ebb; color: #fff; transition: all 0.3s ease-in-out; }

.account-menu .active { background-color: #567ebb; color: #fff; }

.tabs { padding: 0; }

.tabs::before, .tabs::after { content: " "; display: table; }

.tabs::after { clear: both; }

@media only screen and (max-width: 767px) { .tabs { display: none; } }

.tabs input[type=radio] { display: none; }

.tabs label { cursor: pointer; display: block; margin: 0; padding: 1em 1.5em; border-bottom: 2px solid #f7f7f7; color: rgba(86, 126, 187, 0.5); font-size: 14px; line-height: 1.5; text-transform: uppercase; font-weight: bold; text-decoration: none; }

.tabs label:hover { color: #7a9aca; transition: all 0.3s ease-in-out; }

.tabs label.active { color: #567ebb; background-color: rgba(86, 126, 187, 0.2); }

.tabs label:last-of-type { margin-bottom: 0; }

.tabs__header--mobile { display: none; cursor: pointer; margin: 0; padding: 1em 1.5em; border-top: 1px solid #f7f7f7; border-bottom: 1px solid #f7f7f7; color: rgba(86, 126, 187, 0.5); background: #fff; font-size: 14px; line-height: 1.5; text-transform: uppercase; font-weight: bold; text-decoration: none; }

.tabs__header--mobile:hover { color: #7a9aca; transition: all 0.3s ease-in-out; }

.tabs__header--mobile.active { color: #567ebb; background-color: rgba(86, 126, 187, 0.2); }

.tabs__header--mobile:last-of-type { margin-bottom: 0; }

@media only screen and (max-width: 767px) { .tabs__header--mobile { display: block; } }

.tab-content { display: none; width: 100%; }

.tab-content.tab-active { display: block; }

.content-error { padding: 100px 0; text-align: center; }

@media only screen and (max-width: 767px) { .content-error { padding: 30px 0; } }

.content-error h1 { margin-bottom: 1rem; text-transform: uppercase; line-height: 1; color: #567ebb; }

.content-error span { display: block; color: #222; font-size: 0.84615em; }

.picture img { border-radius: 50%; }

.card-post { margin-bottom: 0; }

.card-post p.wp-caption-text { margin-top: 0.5em; margin-bottom: 1em; text-align: center; font-style: italic; }

.card-post header { margin-bottom: 2em; }

.card-post header h1 { margin-bottom: 0; }

.card-post p.post-meta { border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-top: 0.5em; padding-bottom: 1.5em; font-size: 14px; color: #567ebb; }

.card-post .featured-image { max-height: 400px; margin-bottom: 2em; }

.card-post p, .card-post ul, .card-post ol { margin-bottom: 1.5em; }

.card-post ul ul, .card-post ol ol, .card-post ul ol, .card-post ol ul { margin-bottom: 0; }

.card-post blockquote { margin-top: 1em; margin-bottom: 1em; padding: 0.75em 1em; border-left: 4px solid #567ebb; background-color: rgba(86, 126, 187, 0.1); }

.card-post hr { margin: 1.5em 0; }

.announcement strong { color: #567ebb; }

.announcement.toast-alert { border-left-color: #f44336; }

.announcement.toast-alert strong { color: #f44336; }

.announcement.toast-warning { border-left-color: #ffc107; }

.announcement.toast-warning strong { color: #ffc107; }

.announcement.toast-success { border-left-color: #4caf50; }

.announcement.toast-success strong { color: #4caf50; }

.fancybox-slide--ajax { overflow: visible; z-index: 1000; top: 50%; right: 0; width: 600px; height: auto; max-height: 90%; margin: 0 auto; box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); border-radius: 2px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.fancybox-slide--ajax::before { display: none; }

.fancybox-slide--ajax .fancybox-close-small:hover { background-color: transparent; }

@media only screen and (max-width: 767px) { .fancybox-slide--ajax { width: 100%; } }

.fancybox-close-small { -webkit-transform: translateX(50%) translateY(-50%); transform: translateX(50%) translateY(-50%); }

.fancybox-close-small::after { box-shadow: 0 0 0 2px #567ebb; }

.fancybox-slide > div { overflow: visible; margin: 0; width: 100%; }

.fancybox-slide .single-comment { padding: 0.25em; margin-bottom: 1em; background-color: #eef2f8; border: 4px solid #567ebb; }

.single-comment-wrap { padding: 0.75em; border: 1px solid #567ebb; }

.single-comment tr { background-color: transparent; }

.single-comment td { border: none; padding: 0.5em; width: 33.333%; vertical-align: top; }

.single-comment .flex { display: -webkit-flex; display: flex; }

.single-comment .cheque-underline, .single-comment .cheque-box { display: block; flex: 1; padding-left: 0.5em; padding-right: 0.5em; }

.single-comment .cheque-underline { border-bottom: 1px solid rgba(34, 34, 34, 0.7); }

.single-comment .cheque-box { background-color: white; border: 1px solid rgba(34, 34, 34, 0.7); }

.single-comment .cheque-big { display: block; text-align: right; font-size: 20px; font-weight: 700; text-transform: uppercase; color: #567ebb; }

.single-comment code { color: #f44336; padding: 0 0.5em; }

.fancybox-slide .reply-log { overflow-y: auto; background-color: white; margin-top: 1em; padding: 1em; max-height: 400px; border-radius: 2px; }

.fancybox-slide .reply-log h3 { margin-bottom: 0.5rem; }

.single-reply { border: 1px solid #aaa; padding: 0.5em 1em; border-radius: 2px; }

.single-reply b { display: block; }

.reply-title { margin-bottom: 0.5em; }

.reply-meta { font-size: 12px; color: #aaa; }

.reply-meta [class*="status"] { font-weight: 700; }

.reply-meta .status1 { color: #4caf50; font-weight: 700; }

.reply-meta .status-1 { color: #f44336; font-weight: 700; }

.reply-content { font-size: 0.875em; }

.reply-content p { margin-bottom: 0.5em; }
