body.admin-bar { height: calc(100% - 32px); overflow-y: hidden; }

.picture img { border-radius: 50%; }

.single-post header { margin-bottom: 2em; }

.single-post header h1 { margin-bottom: 0; }

.single-post time { color: #567ebb; }

.single-post p { margin-bottom: 1em; }

.single-post .featured-image { max-height: 400px; margin-bottom: 2em; }
