body { font-family: 'Montserrat', sans-serif; }

a { color: #567ebb; text-decoration: none; }

a:hover { color: #7a9aca; transition: all 0.3s ease-in-out; }

.login { background: url("../images/login-background.jpg") 0 50% no-repeat; width: 100%; background-size: cover; }

.login h1 a { background-image: url("../images/logo-old.png"); background-size: 190px; width: 200px; }

h1 { font-size: 36px; font-weight: bold; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.13); }

#login { width: 380px; padding: 10% 0 0; }

.logo { margin-bottom: 30px; }

#login form { margin-bottom: 10px; padding: 30px; }

#login form label { font-size: 14px; font-weight: bold; color: #4d4d4d; letter-spacing: 1px; text-transform: uppercase; margin-bottom: 10px; margin-left: 10px; }

#login form input, #login form select { background-color: #fff; border: 1px solid #ccc; padding: 10px; -webkit-box-shadow: none; box-shadow: none; font-size: 14px; font-weight: normal; }

#login form textarea:focus, #login form input:focus { outline: none; }

#login form input[type=password] { margin-bottom: 10px; }

#login form input[type=submit] { border-radius: 0px; padding: 2px 35px; margin-bottom: 0; border: 0; font-size: 12px; font-weight: bold; text-transform: uppercase; color: #fff; letter-spacing: 1px; float: right; }

#login form .button { background-color: #567ebb; }

#login form .button:hover { background-color: #688cc2; transition: all 0.3s ease-in-out; }

#login form ::-webkit-input-placeholder { font-size: 12px; font-style: italic; font-weight: normal; color: #ccc; }

#login form :-moz-placeholder { /* Firefox 18- */ font-size: 12px; font-style: italic; font-weight: normal; color: #ccc; }

#login form ::-moz-placeholder { /* Firefox 19+ */ font-size: 12px; font-style: italic; font-weight: normal; color: #ccc; }

#login form :-ms-input-placeholder { font-size: 12px; font-style: italic; font-weight: normal; color: #ccc; }

.forgetmenot { font-size: 12px; }

.register { text-align: center; }

.login #nav { margin: 0px; padding: 0px; padding-left: 10px; margin-bottom: 20px; }

.login #nav a { color: #567ebb; text-decoration: none; }

.login #nav a:hover { color: #7a9aca; transition: all 0.3s ease-in-out; }

.login-footer { background: rgba(0, 0, 0, 0.5); padding: 20px; color: #fff; font-size: 12px; position: absolute; bottom: 0px; }

html { height: 100%; min-height: 100%; }

.login-action-register { position: relative; padding-bottom: 100px; height: auto; background-attachment: fixed; }

.login-action-register #login { width: 760px; }

.login-action-register #backtoblog { margin: 0; padding: 16px 0; }

.acf-field-572e0c2bd7054 { clear: both !important; }

#reg_passmail { display: none; }

#registerform > p:nth-of-type(1), #registerform > p:nth-of-type(2) { width: 50%; float: left; padding: 0 10px; box-sizing: border-box; }

#registerform > div:nth-of-type(2) { clear: both; }

#registerform .acf-field { position: relative; padding: 0 10px; border: none; }

#registerform .acf-field .acf-error-message, #registerform .acf-field .acf-temp-wrap { display: none; }

.acf-error-message { border-left: 4px solid #dc3232; padding: 5px 10px; margin-left: 0; background-color: #fff; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }

.acf-error-message p { color: #dc3232; }

#registerform .acf-field-message { clear: both; padding-top: 20px; }

#registerform .acf-field-message .acf-label { padding-bottom: 5px; border-bottom: 1px solid #567ebb; }

#registerform .acf-field-message label { margin-bottom: 0; color: #567ebb; font-weight: 700; font-size: 1.28571em; }

#registerform .acf-error .description { color: #f44336; }

#registerform .acf-error input, #registerform .acf-error textarea, #registerform .acf-error select { border-color: #f44336; }
