@charset "UTF-8";
/* --------------------
- EDJE Framework
- https://github.com/hrsetyono/edje
- v0.3.0 (Icarus)
--------------------- */
/* ----------
  Normalize
---------- */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

*, body { margin: 0; padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

body { -webkit-animation: bugfix infinite 1s; }

@-webkit-keyframes bugfix { from { padding: 0; }
  to { padding: 0; } }

a { cursor: pointer; text-decoration: none; background-color: transparent; }

a:active, a:hover { outline: 0; }

b, strong { font-weight: bold; }

em { font-style: italic; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

img { border: 0; display: inline-block; vertical-align: middle; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; display: block; height: 1px; margin: 1em 0; padding: 0; border: 0; border-top: 1px solid #ccc; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

img, object, embed { max-width: 100%; height: auto; }

#map_canvas img, .map_canvas img, #map_canvas object, .map_canvas object, #map_canvas embed, .map_canvas embed { max-width: none !important; }

object, embed { height: 100%; }

[hidden], template { display: none; }

address, cite { font-style: normal; }

abbr[title] { border-bottom: 1px dotted; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

button, input, optgroup, select, textarea { outline: none; margin: 0; color: inherit; font: inherit; }

button, input[type="submit"] { overflow: visible; cursor: pointer; outline: none; -webkit-backface-visibility: hidden; }

button:focus, input[type="submit"]:focus { outline: none; }

button, select { text-transform: none; }

optgroup { font-weight: bold; }

button, input, label { line-height: normal; }

label { display: block; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

input::-webkit-calendar-picker-indicator { display: none; }

input[type="date"]::-webkit-input-placeholder { visibility: hidden !important; }

textarea { overflow: auto; vertical-align: top; resize: vertical; height: auto; min-height: 50px; }

legend { border: 0; padding: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

.hide { display: none !important; visibility: hidden !important; }

/* -----------
  Typography
----------- */
body { position: relative; background: #fff; font-family: "Montserrat", sans-serif; font-weight: 400; font-size: 16px; line-height: 1.65; color: #222; }

p { margin-top: 0; margin-bottom: 0; }

a { color: #567ebb; }

h1, h2, h3, h4, h5, h6 { font-family: "Montserrat", sans-serif; font-weight: 700; line-height: 1; color: #222; }

h1 { font-size: 1.625em; }

h2 { font-size: 1.375em; }

h3 { font-size: 1.125em; }

h4 { font-size: 1.5em; }

h5 { font-size: 1.25em; }

h6 { font-size: 1em; }

ul { list-style-type: disc; padding-left: 20px; }

ul ul { list-style-type: circle; }

ol { list-style-type: decimal; padding-left: 25px; }

ol ol { list-style-type: lower-alpha; }

blockquote cite { display: block; font-style: italic; }

@media only screen and (max-width: 767px) { body { font-size: 16px; }
  h1 { font-size: 1.875em; }
  h2 { font-size: 1.625em; }
  h3 { font-size: 1.375em; }
  h4 { font-size: 1.25em; }
  h5 { font-size: 1.125em; }
  h6 { font-size: 1em; } }

/* --------
  Grid
-------- */
h-row { display: block; margin: 0 auto; max-width: 1140px; width: 100%; }

@media only screen and (max-width: 1120px) { h-row { width: 747px; } }

@media only screen and (max-width: 767px) { h-row { width: 460px; } }

@media only screen and (max-width: 480px) { h-row { width: 100%; } }

h-row::before, h-row::after { content: " "; display: table; }

h-row::after { clear: both; }

h-row h-row { margin-right: -10px; margin-left: -10px; width: auto; max-width: none; }

h-row h-row.collapse { margin: 0; padding-right: 0; padding-left: 0; width: auto; max-width: none; }

h-column { display: block; float: left; padding-right: 10px; padding-left: 10px; width: 100%; }

.collapse { padding-right: 10px; padding-left: 10px; }

.collapse h-row { margin-right: -10px; margin-left: -10px; width: auto; max-width: none; }

.collapse > h-column, .collapse > * > h-column { padding-right: 0; padding-left: 0; }

.large-1 { width: 8.33333%; }

.large-2 { width: 16.66667%; }

.large-3 { width: 25%; }

.large-4 { width: 33.33333%; }

.large-5 { width: 41.66667%; }

.large-6 { width: 50%; }

.large-7 { width: 58.33333%; }

.large-8 { width: 66.66667%; }

.large-9 { width: 75%; }

.large-10 { width: 83.33333%; }

.large-11 { width: 91.66667%; }

.large-12 { width: 100%; }

.offset-1 { margin-left: 8.33333%; }

.offset-2 { margin-left: 16.66667%; }

.offset-3 { margin-left: 25%; }

.offset-4 { margin-left: 33.33333%; }

.offset-5 { margin-left: 41.66667%; }

.offset-6 { margin-left: 50%; }

.offset-7 { margin-left: 58.33333%; }

.offset-8 { margin-left: 66.66667%; }

.offset-9 { margin-left: 75%; }

.offset-10 { margin-left: 83.33333%; }

.offset-11 { margin-left: 91.66667%; }

.centered { display: block; float: none; margin-right: auto; margin-left: auto; }

@media only screen and (max-width: 767px) { .large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12 { width: 100%; }
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11 { margin-left: 0%; }
  .small-1 { width: 8.33333%; }
  .small-2 { width: 16.66667%; }
  .small-3 { width: 25%; }
  .small-4 { width: 33.33333%; }
  .small-5 { width: 41.66667%; }
  .small-6 { width: 50%; }
  .small-7 { width: 58.33333%; }
  .small-8 { width: 66.66667%; }
  .small-9 { width: 75%; }
  .small-10 { width: 83.33333%; }
  .small-11 { width: 91.66667%; }
  .small-12 { width: 100%; }
  .small-offset-1 { margin-left: 8.33333%; }
  .small-offset-2 { margin-left: 16.66667%; }
  .small-offset-3 { margin-left: 25%; }
  .small-offset-4 { margin-left: 33.33333%; }
  .small-offset-5 { margin-left: 41.66667%; }
  .small-offset-6 { margin-left: 50%; }
  .small-offset-7 { margin-left: 58.33333%; }
  .small-offset-8 { margin-left: 66.66667%; }
  .small-offset-9 { margin-left: 75%; }
  .small-offset-10 { margin-left: 83.33333%; }
  .small-offset-11 { margin-left: 91.66667%; }
  .small-centered { display: block; float: none; margin-right: auto; margin-left: auto; } }

/* ------
  Tile
------ */
[class*="tile"] { padding-left: 0; list-style-type: none; margin-right: -10px; margin-left: -10px; }

[class*="tile"]::before, [class*="tile"]::after { content: " "; display: table; }

[class*="tile"]::after { clear: both; }

[class*="tile"] > li { float: left; padding-right: 10px; padding-left: 10px; }

[class*="tile"].collapse { margin-right: 0; margin-left: 0; padding-right: 0; padding-left: 0; }

[class*="tile"].collapse > li { padding-right: 0; padding-left: 0; }

.tile-1 > li { width: 100%; }

.tile-2 > li { width: 50%; }

.tile-2 > li:nth-of-type(2n+1) { clear: both; }

.tile-3 > li { width: 33.33333%; }

.tile-3 > li:nth-of-type(3n+1) { clear: both; }

.tile-4 > li { width: 25%; }

.tile-4 > li:nth-of-type(4n+1) { clear: both; }

.tile-5 > li { width: 20%; }

.tile-5 > li:nth-of-type(5n+1) { clear: both; }

.tile-6 > li { width: 16.66667%; }

.tile-6 > li:nth-of-type(6n+1) { clear: both; }

.tile-7 > li { width: 14.28571%; }

.tile-7 > li:nth-of-type(7n+1) { clear: both; }

.tile-8 > li { width: 12.5%; }

.tile-8 > li:nth-of-type(8n+1) { clear: both; }

@media only screen and (max-width: 767px) { .tile-1 > li, .tile-2 > li, .tile-3 > li, .tile-4 > li, .tile-5 > li, .tile-6 > li, .tile-7 > li, .tile-8 > li { width: 100%; }
  .tile-1 > li:nth-of-type(n), .tile-2 > li:nth-of-type(n), .tile-3 > li:nth-of-type(n), .tile-4 > li:nth-of-type(n), .tile-5 > li:nth-of-type(n), .tile-6 > li:nth-of-type(n), .tile-7 > li:nth-of-type(n), .tile-8 > li:nth-of-type(n) { clear: none; }
  .small-tile-1 > li { width: 100%; }
  .small-tile-2 > li { width: 50%; }
  .small-tile-2 > li:nth-of-type(2n+1) { clear: both; }
  .small-tile-3 > li { width: 33.33333%; }
  .small-tile-3 > li:nth-of-type(3n+1) { clear: both; }
  .small-tile-4 > li { width: 25%; }
  .small-tile-4 > li:nth-of-type(4n+1) { clear: both; }
  .small-tile-5 > li { width: 20%; }
  .small-tile-5 > li:nth-of-type(5n+1) { clear: both; }
  .small-tile-6 > li { width: 16.66667%; }
  .small-tile-6 > li:nth-of-type(6n+1) { clear: both; }
  .small-tile-7 > li { width: 14.28571%; }
  .small-tile-7 > li:nth-of-type(7n+1) { clear: both; }
  .small-tile-8 > li { width: 12.5%; }
  .small-tile-8 > li:nth-of-type(8n+1) { clear: both; } }

/*! Pikaday Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/ */
.pika-single { z-index: 9999; display: block; position: relative; color: #333; background: #fff; border: 1px solid #ccc; border-bottom-color: #bbb; font-family: "Montserrat", sans-serif; }

.pika-single.is-hidden { display: none; }

.pika-single.is-bound { position: absolute; box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5); }

.pika-single { *zoom: 1; }

.pika-single:before, .pika-single:after { content: " "; display: table; }

.pika-single:after { clear: both; }

.pika-lendar { float: left; width: 240px; margin: 8px; }

.pika-title { position: relative; text-align: center; }

.pika-title select { cursor: pointer; position: absolute; z-index: 9998; margin: 0; left: 0; top: 5px; filter: alpha(opacity=0); opacity: 0; }

.pika-label { display: inline-block; *display: inline; position: relative; z-index: 9999; overflow: hidden; margin: 0; padding: 5px 3px; font-size: 16px; line-height: 20px; font-weight: bold; color: #333; background-color: #fff; }

.pika-prev, .pika-next { display: block; cursor: pointer; position: relative; outline: none; border: 0; padding: 0; width: 20px; height: 30px; text-indent: 20px; white-space: nowrap; overflow: hidden; background-color: transparent; background-position: center center; background-repeat: no-repeat; background-size: 75% 75%; opacity: .5; *position: absolute; *top: 0; }

.pika-prev:hover, .pika-next:hover { opacity: 1; }

.pika-prev.is-disabled, .pika-next.is-disabled { cursor: default; opacity: .2; }

.pika-prev, .is-rtl .pika-next { float: left; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg=="); *left: 0; }

.pika-next, .is-rtl .pika-prev { float: right; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII="); *right: 0; }

.pika-select { display: inline-block; *display: inline; padding: 0; margin-bottom: 0; }

.pika-table { width: 100%; border-collapse: collapse; border-spacing: 0; border: 0; }

.pika-table th, .pika-table td { width: 14.285714285714286%; padding: 0; }

.pika-table th { color: #999; font-size: 16px; font-weight: 400; line-height: 25px; text-align: center; }

.pika-table abbr { text-decoration: none; border-bottom: none; cursor: help; }

.pika-button { cursor: pointer; display: block; -moz-box-sizing: border-box; box-sizing: border-box; outline: none; border: 0; margin: 0; width: 100%; padding: 7px 5px; color: #666; font-size: 16px; font-weight: 400; line-height: 15px; text-align: right; background: #f5f5f5; }

.is-today .pika-button { color: #567ebb; font-weight: bold; box-shadow: inset 0 0 0 1px #567ebb; }

.is-selected .pika-button { color: #fff; font-weight: bold; background: #567ebb; box-shadow: inset 0 1px 3px #178fe5; border-radius: 3px; }

.is-disabled .pika-button, .is-outside-current-month .pika-button { color: #999; opacity: .3; }

.is-disabled .pika-button { pointer-events: none; cursor: default; }

.pika-button:hover { color: #fff; background: rgba(86, 126, 187, 0.5); box-shadow: none; border-radius: 3px; }

.pika-button .is-selection-disabled { pointer-events: none; cursor: default; }

.pika-week { font-size: 16px; color: #999; }

.is-inrange .pika-button { background: #D5E9F7; }

.is-startrange .pika-button { color: #fff; background: #6CB31D; box-shadow: none; border-radius: 3px; }

.is-endrange .pika-button { color: #fff; background: #33aaff; box-shadow: none; border-radius: 3px; }

.fancybox-enabled { overflow: hidden; }

.fancybox-enabled body { overflow: visible; height: 100%; }

.fancybox-is-hidden { position: absolute; top: -9999px; left: -9999px; visibility: hidden; }

.fancybox-container { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99993; -webkit-tap-highlight-color: transparent; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: translateZ(0); transform: translateZ(0); }

/* Make sure that the first one is on the top */
.fancybox-container ~ .fancybox-container { z-index: 99992; }

.fancybox-outer, .fancybox-inner, .fancybox-bg, .fancybox-stage { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

.fancybox-outer { overflow-y: auto; -webkit-overflow-scrolling: touch; }

.fancybox-bg { background: #1e1e1e; opacity: 0; transition-duration: inherit; transition-property: opacity; transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg { opacity: 0.87; transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-infobar, .fancybox-toolbar, .fancybox-caption-wrap { position: absolute; direction: ltr; z-index: 99997; opacity: 0; visibility: hidden; transition: opacity .25s, visibility 0s linear .25s; box-sizing: border-box; }

.fancybox-show-infobar .fancybox-infobar, .fancybox-show-toolbar .fancybox-toolbar, .fancybox-show-caption .fancybox-caption-wrap { opacity: 1; visibility: visible; transition: opacity .25s, visibility 0s; }

.fancybox-infobar { top: 0; left: 50%; margin-left: -79px; }

.fancybox-infobar__body { display: inline-block; width: 70px; line-height: 44px; font-size: 13px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; text-align: center; color: #ddd; background-color: rgba(30, 30, 30, 0.7); pointer-events: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; -webkit-font-smoothing: subpixel-antialiased; }

.fancybox-toolbar { top: 0; right: 0; }

.fancybox-stage { overflow: hidden; direction: ltr; z-index: 99994; -webkit-transform: translate3d(0, 0, 0); }

.fancybox-slide { position: absolute; top: 0; left: 0; width: 100%; height: 100%; margin: 0; padding: 0; overflow: auto; outline: none; white-space: normal; box-sizing: border-box; text-align: center; z-index: 99994; -webkit-overflow-scrolling: touch; display: none; -webkit-backface-visibility: hidden; backface-visibility: hidden; transition-property: opacity, -webkit-transform; transition-property: transform, opacity; transition-property: transform, opacity, -webkit-transform; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }

.fancybox-slide::before { content: ''; display: inline-block; vertical-align: middle; height: 100%; width: 0; }

.fancybox-is-sliding .fancybox-slide, .fancybox-slide--previous, .fancybox-slide--current, .fancybox-slide--next { display: block; }

.fancybox-slide--image { overflow: visible; }

.fancybox-slide--image::before { display: none; }

.fancybox-slide--video .fancybox-content, .fancybox-slide--video iframe { background: #000; }

.fancybox-slide--map .fancybox-content, .fancybox-slide--map iframe { background: #E5E3DF; }

.fancybox-slide--next { z-index: 99995; }

.fancybox-slide > div { display: inline-block; position: relative; padding: 24px; margin: 44px 0 44px; border-width: 0; vertical-align: middle; text-align: left; background-color: #fff; overflow: auto; box-sizing: border-box; }

.fancybox-slide .fancybox-image-wrap { position: absolute; top: 0; left: 0; margin: 0; padding: 0; border: 0; z-index: 99995; background: transparent; cursor: default; overflow: visible; -webkit-transform-origin: top left; -ms-transform-origin: top left; transform-origin: top left; background-size: 100% 100%; background-repeat: no-repeat; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.fancybox-can-zoomOut .fancybox-image-wrap { cursor: -webkit-zoom-out; cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-image-wrap { cursor: -webkit-zoom-in; cursor: zoom-in; }

.fancybox-can-drag .fancybox-image-wrap { cursor: -webkit-grab; cursor: grab; }

.fancybox-is-dragging .fancybox-image-wrap { cursor: -webkit-grabbing; cursor: grabbing; }

.fancybox-image, .fancybox-spaceball { position: absolute; top: 0; left: 0; width: 100%; height: 100%; margin: 0; padding: 0; border: 0; max-width: none; max-height: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.fancybox-spaceball { z-index: 1; }

.fancybox-slide--iframe .fancybox-content { padding: 0; width: 80%; height: 80%; max-width: calc(100% - 100px); max-height: calc(100% - 88px); overflow: visible; background: #fff; }

.fancybox-iframe { display: block; margin: 0; padding: 0; border: 0; width: 100%; height: 100%; background: #fff; }

.fancybox-error { margin: 0; padding: 40px; width: 100%; max-width: 380px; background: #fff; cursor: default; }

.fancybox-error p { margin: 0; padding: 0; color: #444; font: 16px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; }

.fancybox-close-small { position: absolute; top: 0; right: 0; width: 44px; height: 44px; padding: 0; margin: 0; border: 0; border-radius: 0; outline: none; background: transparent; z-index: 10; cursor: pointer; }

.fancybox-close-small:after { content: '×'; position: absolute; top: 5px; right: 5px; width: 30px; height: 30px; font: 20px/30px Arial,"Helvetica Neue",Helvetica,sans-serif; color: #888; font-weight: 300; text-align: center; border-radius: 50%; border-width: 0; background: #fff; transition: background .25s; box-sizing: border-box; z-index: 2; }

.fancybox-close-small:focus:after { outline: 1px dotted #888; }

.fancybox-close-small:hover:after { color: #555; background: #eee; }

.fancybox-slide--iframe .fancybox-close-small { top: 0; right: -44px; }

.fancybox-slide--iframe .fancybox-close-small:after { background: transparent; font-size: 35px; color: #aaa; }

.fancybox-slide--iframe .fancybox-close-small:hover:after { color: #fff; }

/* Caption */
.fancybox-caption-wrap { bottom: 0; left: 0; right: 0; padding: 60px 30px 0 30px; background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%); pointer-events: none; }

.fancybox-caption { padding: 30px 0; border-top: 1px solid rgba(255, 255, 255, 0.4); font-size: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #fff; line-height: 20px; -webkit-text-size-adjust: none; }

.fancybox-caption a, .fancybox-caption button, .fancybox-caption select { pointer-events: all; }

.fancybox-caption a { color: #fff; text-decoration: underline; }

/* Buttons */
.fancybox-button { display: inline-block; position: relative; margin: 0; padding: 0; border: 0; width: 44px; height: 44px; line-height: 44px; text-align: center; background: transparent; color: #ddd; border-radius: 0; cursor: pointer; vertical-align: top; outline: none; }

.fancybox-button[disabled] { cursor: default; pointer-events: none; }

.fancybox-infobar__body, .fancybox-button { background: rgba(30, 30, 30, 0.6); }

.fancybox-button:hover:not([disabled]) { color: #fff; background: rgba(0, 0, 0, 0.8); }

.fancybox-button::before, .fancybox-button::after { content: ''; pointer-events: none; position: absolute; background-color: currentColor; color: currentColor; opacity: 0.9; box-sizing: border-box; display: inline-block; }

.fancybox-button[disabled]::before, .fancybox-button[disabled]::after { opacity: 0.3; }

.fancybox-button--left::after, .fancybox-button--right::after { top: 18px; width: 6px; height: 6px; background: transparent; border-top: solid 2px currentColor; border-right: solid 2px currentColor; }

.fancybox-button--left::after { left: 20px; -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); transform: rotate(-135deg); }

.fancybox-button--right::after { right: 20px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.fancybox-button--left { border-bottom-left-radius: 5px; }

.fancybox-button--right { border-bottom-right-radius: 5px; }

.fancybox-button--close::before, .fancybox-button--close::after { content: ''; display: inline-block; position: absolute; height: 2px; width: 16px; top: calc(50% - 1px); left: calc(50% - 8px); }

.fancybox-button--close::before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.fancybox-button--close::after { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

/* Navigation arrows */
.fancybox-arrow { position: absolute; top: 50%; margin: -50px 0 0 0; height: 100px; width: 54px; padding: 0; border: 0; outline: none; background: none; cursor: pointer; z-index: 99995; opacity: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; transition: opacity .25s; }

.fancybox-arrow::after { content: ''; position: absolute; top: 28px; width: 44px; height: 44px; background-color: rgba(30, 30, 30, 0.8); background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgNGwtMS40MSAxLjQxTDE2LjE3IDExSDR2MmgxMi4xN2wtNS41OCA1LjU5TDEyIDIwbDgtOHoiLz48L3N2Zz4=); background-repeat: no-repeat; background-position: center center; background-size: 24px 24px; }

.fancybox-arrow--right { right: 0; }

.fancybox-arrow--left { left: 0; -webkit-transform: scaleX(-1); -ms-transform: scaleX(-1); transform: scaleX(-1); }

.fancybox-arrow--right::after, .fancybox-arrow--left::after { left: 0; }

.fancybox-show-nav .fancybox-arrow { opacity: 0.6; }

.fancybox-show-nav .fancybox-arrow[disabled] { opacity: 0.3; }

/* Loading indicator */
.fancybox-slide > .fancybox-loading { border: 6px solid rgba(100, 100, 100, 0.4); border-top: 6px solid rgba(255, 255, 255, 0.6); border-radius: 100%; height: 50px; width: 50px; -webkit-animation: fancybox-rotate .8s infinite linear; animation: fancybox-rotate .8s infinite linear; background: transparent; position: absolute; top: 50%; left: 50%; margin-top: -25px; margin-left: -25px; z-index: 99999; }

@-webkit-keyframes fancybox-rotate { from { -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fancybox-rotate { from { -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/* Transition effects */
.fancybox-animated { transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); opacity: 0; }

.fancybox-fx-slide.fancybox-slide--next { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); opacity: 0; }

.fancybox-fx-slide.fancybox-slide--current { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous, .fancybox-fx-fade.fancybox-slide--next { opacity: 0; transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current { opacity: 1; }

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous { -webkit-transform: scale3d(1.5, 1.5, 1.5); transform: scale3d(1.5, 1.5, 1.5); opacity: 0; }

.fancybox-fx-zoom-in-out.fancybox-slide--next { -webkit-transform: scale3d(0.5, 0.5, 0.5); transform: scale3d(0.5, 0.5, 0.5); opacity: 0; }

.fancybox-fx-zoom-in-out.fancybox-slide--current { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); opacity: 1; }

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous { -webkit-transform: rotate(-360deg); -ms-transform: rotate(-360deg); transform: rotate(-360deg); opacity: 0; }

.fancybox-fx-rotate.fancybox-slide--next { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); opacity: 0; }

.fancybox-fx-rotate.fancybox-slide--current { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); opacity: 1; }

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous { -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); opacity: 0; }

.fancybox-fx-circular.fancybox-slide--next { -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); opacity: 0; }

.fancybox-fx-circular.fancybox-slide--current { -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0); transform: scale3d(1, 1, 1) translate3d(0, 0, 0); opacity: 1; }

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous { -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next { -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current { -webkit-transform: translate3d(0, 0, 0) scale(1); transform: translate3d(0, 0, 0) scale(1); }

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) { .fancybox-infobar { left: 0; margin-left: 0; }
  .fancybox-button--left, .fancybox-button--right { display: none !important; }
  .fancybox-caption { padding: 20px 0; margin: 0; } }

/* Fullscreen  */
.fancybox-button--fullscreen::before { width: 15px; height: 11px; left: calc(50% - 7px); top: calc(50% - 6px); border: 2px solid; background: none; }

/* Slideshow button */
.fancybox-button--play::before, .fancybox-button--pause::before { top: calc(50% - 6px); left: calc(50% - 4px); background: transparent; }

.fancybox-button--play::before { width: 0; height: 0; border-top: 6px inset transparent; border-bottom: 6px inset transparent; border-left: 10px solid; border-radius: 1px; }

.fancybox-button--pause::before { width: 7px; height: 11px; border-style: solid; border-width: 0 2px 0 2px; }

/* Thumbs */
.fancybox-thumbs { display: none; }

.fancybox-button--thumbs { display: none; }

@media all and (min-width: 800px) { .fancybox-button--thumbs { display: inline-block; }
  .fancybox-button--thumbs span { font-size: 23px; }
  .fancybox-button--thumbs::before { width: 3px; height: 3px; top: calc(50% - 2px); left: calc(50% - 2px); box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, 0 0 0 32px inset, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0; }
  .fancybox-thumbs { position: absolute; top: 0; right: 0; bottom: 0; left: auto; width: 220px; margin: 0; padding: 5px 5px 0 0; background: #fff; word-break: normal; -webkit-tap-highlight-color: transparent; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; box-sizing: border-box; z-index: 99995; }
  .fancybox-show-thumbs .fancybox-thumbs { display: block; }
  .fancybox-show-thumbs .fancybox-inner { right: 220px; }
  .fancybox-thumbs > ul { list-style: none; position: absolute; position: relative; width: 100%; height: 100%; margin: 0; padding: 0; overflow-x: hidden; overflow-y: auto; font-size: 0; }
  .fancybox-thumbs > ul > li { float: left; overflow: hidden; max-width: 50%; padding: 0; margin: 0; width: 105px; height: 75px; position: relative; cursor: pointer; outline: none; border: 5px solid transparent; border-top-width: 0; border-right-width: 0; -webkit-tap-highlight-color: transparent; -webkit-backface-visibility: hidden; backface-visibility: hidden; box-sizing: border-box; }
  li.fancybox-thumbs-loading { background: rgba(0, 0, 0, 0.1); }
  .fancybox-thumbs > ul > li > img { position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; max-width: none; max-height: none; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
  .fancybox-thumbs > ul > li:before { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border-radius: 2px; border: 4px solid #4ea7f9; z-index: 99991; opacity: 0; transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .fancybox-thumbs > ul > li.fancybox-thumbs-active:before { opacity: 1; } }

.text-right { text-align: right; }

button, .button, [type="submit"] { display: inline-block; background-color: #567ebb; border-radius: 0px; padding: 10px 35px; margin-bottom: 0; margin-left: 10px; border: 0; font-size: 12px; font-weight: bold; text-transform: uppercase; color: #fff; letter-spacing: 1px; }

button:hover, .button:hover, [type="submit"]:hover { background-color: #688cc2; transition: all 0.3s ease-in-out; }

[type="text"], [type="number"], [type="tel"], [type="password"], [type="email"], [type="search"], [type="url"], textarea, select { display: block; width: 100%; background-color: #fff; border: 1px solid #ddd; padding: 5px 10px; margin-bottom: 10px; -webkit-box-shadow: none; box-shadow: none; font-size: 14px; font-weight: normal; transition: all 0.3s ease-in-out; }

[type="text"]:hover, [type="number"]:hover, [type="tel"]:hover, [type="password"]:hover, [type="email"]:hover, [type="search"]:hover, [type="url"]:hover, textarea:hover, select:hover { outline: none; }

[type="text"]:focus, [type="number"]:focus, [type="tel"]:focus, [type="password"]:focus, [type="email"]:focus, [type="search"]:focus, [type="url"]:focus, textarea:focus, select:focus { outline: none; border-color: #555; }

label { font-size: 14px; font-weight: bold; color: #4d4d4d; letter-spacing: 1px; text-transform: uppercase; margin-bottom: -10px; margin-left: 10px; }
